

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div> <span class="contact-info">E-mail: </span> {{email}}</div>

      <div> <span class="contact-info">Name: </span> {{name}}</div>

      <div> <span class="contact-info">Phone Number: </span> {{phone}}</div>

      <div> <span class="contact-info">Twitter Username: </span> {{twitter}}</div>

      <div> <span class="contact-info">LinkedIn Profile:</span> {{linkedin}}</div>
      <button class="btn btn-sm btn-danger pull-right destroy">delete</button>

    </div>

  </div>

</div>
